.u-bg-white {
    background-color: $white;
}

.u-bg-light {
    background-color: $gray-light;
}

.u-white {
    color: $white;
}

.u-bg-black {
    background-color: $black;
}

.u-bg-blue {
    background-color: $bg-color;
}

.u-bg-dark-gray{
    background-color: $dark-gray;
}

.u-bg-more-blue{
    background-color: $bg-blue;
}

.u-bg-gradient {
    color: $blue-gradient;
}

.u-bg-blue-footer {
    background-color: $bg-blue-footer;
}