.u-mb-1 {
    margin-bottom: $grid-base;
}

.u-mb-2 {
    margin-bottom: $grid-base * 2;
}

.u-mb-3 {
    margin-bottom: $grid-base * 3;
}

.u-mt-1 {
    margin-top: $grid-base;
}

.u-mt-2 {
    margin-top: $grid-base * 2;
}

.u-mt-3 {
    margin-top: $grid-base * 3;
}
.u-padding-left {
    padding-left: 73px;
}

.u-padding-top {
    padding-top: 70px;
}

.u-absolute {
    position: absolute;
}

.u-padding-bottom {
    padding-bottom: 110px;
}

.u-ml-1 {
    margin-left: $grid-base;
}

.u-ml-2 {
    margin-left: $grid-base * 2;
}

.u-ml-3 {
    margin-left: $grid-base * 3;
}