*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #1a75ff;
  color: #000032;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  font-size: 0.875rem;
}

img {
  max-width: 100%;
}

p {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

a {
  color: #000032;
  text-decoration: none;
}

a:hover {
  color: #000032;
  text-decoration: underline;
}

.o-col {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 800px) {
  .o-col--md25 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 800px) {
  .o-col--md33 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

@media (min-width: 800px) {
  .o-col--md50 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  .o-col--lg20 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
    margin-top: 59px;
    padding-right: 20px;
    padding-left: 3px;
  }
}

@media (min-width: 1200px) {
  .o-col--lg25 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 1200px) {
  .o-col--lg28 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 28%;
            flex: 0 0 28%;
    max-width: 28%;
  }
}

@media (min-width: 1200px) {
  .o-col--lg33 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

@media (min-width: 1200px) {
  .o-col--lg35 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
            flex: 0 0 35%;
    max-width: 35%;
  }
}

@media (min-width: 1200px) {
  .o-col--lg40 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    max-width: 40%;
  }
}

@media (min-width: 1200px) {
  .o-col--lg50 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  .o-col--lg65 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 65%;
            flex: 0 0 65%;
    max-width: 65%;
  }
}

@media (min-width: 1200px) {
  .o-col--lg75 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
}

@media (min-width: 1200px) {
  .o-col--lg80 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
  }
}

.o-col-img {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.o-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

@media (min-width: 800px) {
  .o-container {
    max-width: 740px;
  }
}

@media (min-width: 1200px) {
  .o-container {
    max-width: 1140px;
  }
}

.o-container-special {
  margin-left: auto;
  margin-right: auto;
  padding-left: 85px;
  padding-right: 85px;
  width: 100%;
}

@media (min-width: 800px) {
  .o-container-special {
    max-width: 740px;
  }
}

@media (min-width: 1200px) {
  .o-container-special {
    max-width: 1140px;
  }
}

.o-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

@media (min-width: 800px) {
  .o-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.o-row--center-y {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.o-row--middle {
  margin-left: 7.5px;
  margin-right: 7.5px;
}

.c-btn {
  border: none;
  border-radius: 5px;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5;
  padding: .75rem 0;
  text-align: center;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  width: 220px;
}

.c-btn:hover {
  text-decoration: none;
}

.c-btn--primary {
  background-color: #a9cbff;
  color: #1a75ff;
}

.c-btn--primary:hover {
  background-color: #5d9dff;
  color: #FFFFFF;
}

.c-btn--accent {
  background-color: #2bd115;
  color: #FFFFFF;
}

.c-btn--accent:hover {
  background-color: #1d8b0e;
  color: #FFFFFF;
}

.c-btn--dark-blue {
  background-color: #1a75ff;
  color: #FFFFFF;
  padding-right: 20px;
}

.c-btn--dark-blue:hover {
  background-color: black;
  color: #FFFFFF;
}

.c-btn--light {
  background-color: #FFFFFF;
  color: #1a75ff;
}

.c-btn--light:hover {
  background-color: #d9d9d9;
  color: #1a75ff;
}

.c-btn--outline {
  background-color: transparent;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
}

.c-btn--outline:hover {
  color: #d9d9d9;
  border: 2px solid #d9d9d9;
}

.c-btn--gradient {
  background: -webkit-gradient(linear, left bottom, left top, from(#0e5384), to(#2084cd));
  background: linear-gradient(0deg, #0e5384 0%, #2084cd 100%);
  color: #FFFFFF;
  text-transform: uppercase;
}

.c-btn--gradient:hover {
  background-color: #5d9dff;
  color: #FFFFFF;
}

.c-btn-footer {
  border: none;
  border-radius: 5px;
  display: inline-block;
  font-size: 13px;
  padding-top: 4px;
  text-align: center;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  width: 120px;
  background-color: linear-gradient(0deg, #0e5384 0%, #2084cd 100%);
  height: 25px;
}

.c-hover {
  background-color: black;
  color: #FFFFFF;
}

.c-heading {
  color: #1a75ff;
  line-height: 1.2;
  margin-bottom: 5px;
}

.c-heading--level1 {
  font-size: 1.5rem;
}

@media (min-width: 1200px) {
  .c-heading--level1 {
    font-size: 3rem;
  }
}

.c-heading--level2 {
  font-size: 1.125rem;
}

@media (min-width: 1200px) {
  .c-heading--level2 {
    font-size: 1.5rem;
  }
}

.c-heading--level3 {
  font-size: 1.125rem;
}

.c-heading--level4 {
  font-size: 1rem;
}

.c-heading--level5 {
  font-size: 0.875rem;
}

.c-heading--upper {
  text-transform: uppercase;
}

.c-heading--white {
  color: #FFFFFF;
}

.c-icon-box {
  text-align: center;
}

.c-icon-box__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /** Najwyzsza ikona ma taka wysokosc **/
  height: 60px;
  margin-bottom: 25px;
}

.c-icon-box__icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.c-icon-box__text {
  font-size: 0.75rem;
  margin-top: 15px;
}

.c-label {
  display: block;
  font-size: 0.75rem;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.c-list__item {
  margin-bottom: 12px;
}

.c-list--unstyled {
  list-style-type: none;
}

.c-nav__item {
  color: #FFFFFF;
  display: block;
  font-size: 0.875rem;
  padding-bottom: 7.5px;
  padding-top: 7.5px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.c-nav__item:hover {
  color: #FFFFFF;
}

@media (min-width: 1200px) {
  .c-nav__item {
    display: inline-block;
    margin-left: 45px;
    width: auto;
  }
}

.c-segment {
  border: none;
}

.t-clinic-locator {
  background: linear-gradient(45deg, #3E5CC5 0%, #5B8AF8 100%);
  padding-bottom: 45px;
  padding-top: 40px;
}

@media (min-width: 1200px) {
  .t-clinic-locator {
    background: url("../images/map.png") 10% 80% no-repeat, linear-gradient(45deg, #3E5CC5 0%, #5B8AF8 100%);
    padding-top: 200px;
  }
}

.t-clinic-locator__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.t-clinic-locator__content {
  width: 100%;
}

@media (min-width: 1200px) {
  .t-clinic-locator__content {
    max-width: 500px;
    text-align: right;
  }
}

.t-clinic-locator__heading {
  margin-bottom: 15px;
}

.t-clinic-locator__subheading {
  color: #FFFFFF;
  margin-bottom: 40px;
}

.t-clinic-locator__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 25px;
}

.t-clinic-locator__btn {
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 0;
}

.t-our-advantages {
  padding-top: 60px;
}

.t-our-advantages__item {
  margin-bottom: 40px;
}

@media (min-width: 1200px) {
  .t-our-advantages__item {
    margin-bottom: 120px;
  }
}

.t-our-company {
  padding-bottom: 60px;
  padding-top: 90px;
}

.t-our-company__left {
  margin-bottom: 40px;
}

@media (min-width: 800px) {
  .t-our-company__left {
    margin-bottom: 0;
  }
}

.t-our-company__right {
  text-align: center;
}

@media (min-width: 800px) {
  .t-our-company__right {
    padding-right: 30px;
    text-align: right;
  }
}

.t-our-company__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.t-our-company__btn {
  margin-right: 30px;
  margin-bottom: 25px;
}

.t-post-list {
  background-color: #918f8f7a;
  padding-top: 40px;
  position: relative;
}

@media (min-width: 1200px) {
  .t-post-list {
    height: 380px;
  }
}

.t-post-list__content {
  padding-bottom: 40px;
}

@media (min-width: 1200px) {
  .t-post-list__content {
    background-color: #918f8f7a;
    -webkit-clip-path: ellipse(68% 450px at 50% 0);
            clip-path: ellipse(68% 450px at 50% 0);
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    z-index: 1000;
  }
}

.t-post-list__item {
  margin-bottom: 40px;
}

@media (min-width: 1200px) {
  .t-post-list__item {
    margin-bottom: 20px;
  }
}

.t-post-list__image {
  margin-bottom: 25px;
  max-width: 349px;
  position: relative;
}

.t-post-list__badge {
  background: linear-gradient(45deg, #3E5CC5 0%, #5B8AF8 100%);
  border-radius: 5px 0 0 5px;
  color: #FFFFFF;
  font-size: 0.875rem;
  font-weight: bold;
  padding: .5rem 1rem;
  position: absolute;
  top: 70%;
  text-transform: uppercase;
  right: 0;
}

.t-site-header__top {
  padding-bottom: 25px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 25px;
  background-color: #000000;
}

.t-site-header__menu {
  margin-top: 50px;
}

@media (min-width: 1200px) {
  .t-site-header__menu {
    text-align: right;
    margin-top: 0;
  }
}

.t-site-header__divider {
  background-color: #1a75ff;
  height: 1px;
}

.t-site-header__spaceship {
  margin: 0 auto;
  text-align: left;
}

.t-site-header__background-image {
  background: url("../images/bg-adbox.jpg") center 0 no-repeat;
}

.t-site-header__small-text {
  font-size: 4;
  color: #114068;
  padding-top: 20px;
  font-family: serif;
}

.t-gray-section {
  padding-top: 10px;
  padding-bottom: 12.5px;
  background-color: #1a1a1a;
}

.t-gray-text {
  font-weight: bold;
  color: #918f8f7a;
  font-size: 40px;
  font-family: serif;
}

.t-info-section {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #224969;
}

.t-photo-btn__texting {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.t-photo-btn__window {
  position: relative;
  text-align: center;
}

.t-site-gallery {
  background-color: #FFFFFF;
  padding-top: 25px;
  padding-bottom: 25px;
}

.t-footer {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #132c41;
}

.u-bg-white {
  background-color: #FFFFFF;
}

.u-bg-light {
  background-color: #918f8f7a;
}

.u-white {
  color: #FFFFFF;
}

.u-bg-black {
  background-color: #000000;
}

.u-bg-blue {
  background-color: #020b14;
}

.u-bg-dark-gray {
  background-color: #1a1a1a;
}

.u-bg-more-blue {
  background-color: #224969;
}

.u-bg-gradient {
  color: linear-gradient(45deg, #3E5CC5 0%, #5B8AF8 100%);
}

.u-bg-blue-footer {
  background-color: #132c41;
}

.u-mb-1 {
  margin-bottom: 10px;
}

.u-mb-2 {
  margin-bottom: 20px;
}

.u-mb-3 {
  margin-bottom: 30px;
}

.u-mt-1 {
  margin-top: 10px;
}

.u-mt-2 {
  margin-top: 20px;
}

.u-mt-3 {
  margin-top: 30px;
}

.u-padding-left {
  padding-left: 73px;
}

.u-padding-top {
  padding-top: 70px;
}

.u-absolute {
  position: absolute;
}

.u-padding-bottom {
  padding-bottom: 110px;
}

.u-ml-1 {
  margin-left: 10px;
}

.u-ml-2 {
  margin-left: 20px;
}

.u-ml-3 {
  margin-left: 30px;
}

.u-padding-right {
  padding-right: 30px;
}

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-text-left {
  text-align: left;
}

@media (min-width: 1200px) {
  .u-text-lg-right {
    text-align: right !important;
  }
}

.u-text-padding {
  padding-top: 50px;
  padding-left: 50px;
}

.u-text-font {
  font-family: serif;
}

.u-text-white {
  color: #FFFFFF;
}

.u-text-divider {
  color: rgba(255, 255, 255, 0.555);
}

.u-text-justify {
  text-align: justify;
}

.u-text-size {
  font-size: 34px;
}

.u-text-tilt {
  font-style: italic;
}

.u-text-blue {
  color: #a9cbff;
}

.u-text-category {
  color: #000032;
  text-align: center;
}

.u-text-s20 {
  font-size: 20px;
}

.u-text-s14 {
  font-size: 15px;
}

.u-text-foooter {
  font-size: 13px;
  font-family: serif;
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.555);
  margin-bottom: -2px;
  padding-top: 10px;
}

.u-text-foooter-Copy {
  font-size: 10px;
  font-family: serif;
  margin-left: 10px;
  color: #a9cbff;
  margin-bottom: -2px;
  margin-top: 5px;
}

.u-shad-dark {
  -webkit-box-shadow: 0px, 10px;
          box-shadow: 0px, 10px;
}

.u-shad-btn {
  -webkit-filter: drop-shadow(0px 5px 2px #000000);
          filter: drop-shadow(0px 5px 2px #000000);
}

.u-shad-section {
  -webkit-filter: drop-shadow(0px 2px 2px #000000) drop-shadow(0px -1px 0.3px rgba(255, 255, 255, 0.151));
  filter: drop-shadow(0px 2px 2px #000000) drop-shadow(0px -1px 0.3px rgba(255, 255, 255, 0.151));
}

.u-shad-divid {
  -webkit-box-shadow: 0px .7px #ffffff17;
          box-shadow: 0px .7px #ffffff17;
}

.u-divider {
  height: 1px;
  background-color: #0e1f2c;
  margin-top: 2px;
  border-radius: 5px;
}

.u-white-box input[type=text] {
  width: 100%;
}

.u-box-btn {
  padding-right: 20px;
}

.u-text-input {
  height: 27px;
  background-color: #FFFFFF;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
}
/*# sourceMappingURL=style.css.map */